.arrow-animation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  opacity: 0; /* Start with 0 opacity */
  transition: opacity 0.5s ease-in-out;
}

.arrow-animation.visible {
  opacity: 1;
}

.arrow-animation.hidden {
  opacity: 0;
}