body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root { /* Target the root element for global styling */
  --bg-color:     #131519; 
  --accent:       #393e41; 
  --highlight-1:  #b6174b;
  --highlight-2:  #188fa7;
  --main-text:    #ffffff;
}

body { 
  color: var(--main-text);
}


body { /* Or a more specific selector */
  font-family: 'General Sans', sans-serif; 
}